@model EX01.Models.ProductModel

<div class="card bg-success text-white">
    <h1 class="card-header">Điện thoại @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @Model.Price
        </p>
    </div>
</div>