@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
    Razor là một temlate engine trong .NET, nó là TEMPLATE ENGINE mặc định
    của ASP.NET MVC, có chức năng render HTML từ các view (.cshtml).
    View cho phép viết HTML và nhúng code c#
</p>

